#Intel{
  text-decoration:none;
  color:orange;
}
#product{
  text-decoration:none;
  color:orange;
}

.email{
  text-decoration:none;
  color:purple;
}

#Intel:hover{
  color:green;
}

#product:hover{
  color:green;
}

.email:hover{
  color:green;
}

strong{
  color:red;
  font-size:18px;
}

b{
  color:green;
  font-size:18px;
}

i{
  color:brown;
  font-size:18px;
}

.contacttitle{
  color:brown;
  font-size:25px;
  font-family: 'Ranchers', cursive;
}

.statement{ 
  color:white;
  background-color:lightblue;
  padding:10px;
}

.requirement{
  color:cyan;
  background-color:purple;
  padding:10px;
}

.experience{
  color:black;
  background-color:lightyellow;
  padding:10px;
}

#hobbiesinh3{
  background-color:khaki;
  padding:20px; 
  margin:30px;
  border:1rem outset pink;
  font-family: 'Grandstander', cursive;
}